*.dll
*.exe
*.pdb
*.xml
*.ide-wal
*.ide-shm
*.ide
*.config
*.cache
cbg.Main/.vs/cbg.Main/v16/.suo
cbg.Main/.vs/cbg.Main/v16/Server/sqlite3/storage.ide
cbg.Main/订单信息服务器/obj/
cbg.Main/订单信息服务器/bin/
cbg.Main\\Miner\\bin